.Editor {
    display: flex;
    gap: 10px;
}

.Editor input {
    /* input 태그가 부모 요소의 길이를 벗어나지 않는 선에서 최대 길이로 늘어날 수 있다. */
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.Editor button {
    cursor: pointer;
    width: 80px;
    border: none;
    color: white;
    background-color: rgb(37, 147, 255);
    border-radius: 5px;
}
