@font-face {
    font-family: "NanumPenScript";
    /* public 폴더 파일 안에 있다면 /로 표시 */
    src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    display: flex;
}

#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    /* Viewport Height: 현재 브라우저의 스크린 크기를 말한다. */
    min-height: 100vh;
    height: 100%;
    box-shadow: rgba(100, 100, 0.2) 0px 0px 29px 0px;
    padding: 0px 20px;
}

/* body 태그 아래에 모든 요소의 스타일에 폰트 패밀리를 NanumPenScript로 지정 */
body * {
    font-family: "NanumPenScript";
}
